body{
    background-image: url('../../../../assets/background.jpg');
    background-repeat: no-repeat;
    background-size: cover; 
    margin-bottom: 0px;
  margin-top: 0px;
  padding-bottom: 180%;
  }