<html>
  <app-navbar></app-navbar>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<body>
<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>



  <div class="container text-center" >
<img src="../../../assets/logo.png" alt="" class="img-fluid">
<form (ngSubmit)="formSubmit()"> 
    <mat-form-field class="full-width">
      <input
      [(ngModel)]="User.name"
      name="name"
      matInput placeholder="username" required>
      <mat-error>username is required</mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
      <input
      [(ngModel)]="User.fullName"
      name="fullName" 
      matInput placeholder="Full name" required>
      <mat-error>fullName is required</mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
        <input 
        [(ngModel)]="User.contact"
        name="contact"
        matInput placeholder="contact number" type="tel" required>
        <mat-error>contact is required</mat-error>
      </mat-form-field>
  
    <mat-form-field class="full-width">
      <input 
      [(ngModel)]="User.email"
      name="email"
      matInput placeholder="Email" type="email" required>
      <mat-error>Email is required</mat-error>
    </mat-form-field>
  
    <mat-form-field class="full-width">
      <input  
      [(ngModel)]="User.password"
      name="password"
      matInput placeholder="Password" type="password" required>
      <mat-error>password is required</mat-error>
    </mat-form-field>
  
    <mat-form-field class="full-width">
      <input 
      matInput placeholder="Confirm Password" type="password" required>
      <mat-error>Passwords do not match</mat-error>
    </mat-form-field>
  
    <button type="submit" mat-raised-button color="primary">Register</button>
  </form>

</div>
</body>
</html>