<html>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<body>
<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<mat-card>
  <h3 class="text-center"><b>Add Suppliers</b></h3>
<form (ngSubmit)="formSubmit()">
    <div>
      <label for="supplierId">supplier Id:</label>
      <input type="number" id="supplierId" [(ngModel)]="Supplier.supplierId" name="supplierId" required>
    </div>
    <br>
    <div>
      <label for="supplierName">supplier Name:</label>
      <input type="text" id="supplierName" [(ngModel)]="Supplier.supplierName" name="supplierName" required>
    </div>
    <br>
    <div>
        <label for="supplierEmail">Email:</label>
        <input  type="email" id="supplierEmail"  [(ngModel)]="Supplier.supplierEmail"  name="supplierEmail" required >
      </div>
      <br>
    <div>
      <label for="supplierPhoneNo">Phone No.:</label>
      <input type="text" id="supplierPhoneNo" [(ngModel)]="Supplier.supplierPhoneNo" name="supplierPhoneNo"  required> 
    </div>
    <br>
    <div>
        <button mat-raised-button color="accent" type="submit" class="custom" >Add Supplier</button>
      </div>
  </form>

</mat-card>
</body>
</html>

