.custom-margin{
    margin-left: 20px;
    margin-top: 20px;
 }
 .custom-margin-1{
    margin-right: 70px;
    margin-top: 20px;
    display: inline-block;
    white-space: nowrap;

 }
 .custom-margin-2{
    margin-left: 20px;
 }
 .custom-margin-3{ 
    margin-right: 480px;
    margin-left: auto;
    display: inline-block;
  white-space: nowrap;
 }
 .custom-margin-4{
    display: inline-block;
    white-space: nowrap;
    margin-right: 680px;
    margin-bottom: 20px;

 }
 .custom-margin-5{
   margin-left: 40px;
 }