<h2 class="heading">
    New Orders
  </h2>  
  <div >
       <div class="card" *ngFor="let o of Orders">

          <div class="row">
            <div class="col custom-margin">
              <h5 ><b>name: </b>{{o['docName']}}</h5>
            </div>
            <div class="col-1 custom-margin-1">
          <h5 ><b>Order Id: </b>{{o['orderId']}}</h5>
        </div>
          </div> 

          <div class="row">
          <div class="col custom-margin-2">
          <h4>Bill Details</h4>
          <h5 ><b>total amount: </b>{{o['total']}}</h5> 
          <h5 ><b>Items description:</b> 
                 <div> Drug name: {{ o['drugName'] }}</div>
                  <div> quantity: {{ o['qty'] }}</div>
          </h5> 
        </div>
        <div class=" col-1 custom-margin-3">
          <h4>Contact Details:</h4>
          <h5 ><b>contact: </b>{{o['docContact']}}</h5>
          <h5 ><b>email: </b>{{o['docEmail']}}</h5>
        </div>

        <div class="col-1 custom-margin-4" >
          <div class="button-container">
          <button mat-raised-button color="accent" (click)="verifyOrder(o['orderId'])" class="custom-button">Verify</button>
        </div>
      </div>  
        </div>

        <div class="card" *ngIf="Orders.length===0">
            <h1>no new orders</h1>
        </div>

  </div>
