body{
    background-image: url('../../../../assets/background.jpg');
    background-size: cover;
    background-repeat:repeat-y;
  background-position: center center;
  margin-bottom: 0px;
  margin-top: 0px;
  padding-bottom: 180%;
  }