form {
    max-width: 230px;
    max-height: 350px;
    margin:auto;
  }

  mat-card{
    margin: auto;
    max-height: 400px;
  }
  
  
  button {
    width: 100%;
  }
  

h1{
    width: 100%;
}
.custom{
  align-items: center;
  margin: auto;
}

